/* Fonte personalizada */
@font-face {
    font-family: font1;
    src: url(../fonts/Poppins.ttf);
}

@font-face {
    font-family: font2;
    src: url(../fonts/Poppins-Bold.ttf);
}

/* Estilo global */
body {
 flex-direction: column; /* ou 'row' se for horizontal */
    align-items: center;     /* centraliza horizontalmente */
    justify-content: flex-start; /* ou 'center' se quiser tudo no centro da tela */
    background-image: url(../imgs/bacgraund.png);
    min-height: 100vh;
}

div {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/* Container principal */
.container {
    width: 90%;
    background-color: #1e1e1e;
    box-shadow: 0 0 10px #000;
    margin: 70px auto 0 auto; /* empurrado por causa do menu fixo */
    padding-bottom: 15px;
    border-radius: 10px;
}

.logo {
    width: 20%;
}

/* Menu fixo */
.menu {
    position: fixed;
    padding: 5px;
    width: 100%;
    background-color: rgba(97, 97, 97, 0.9);
    z-index: 1000;
    border-radius: 5px;
    margin-bottom: 8px;
    display: flex;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 70%;
}

.menu ul li {
    margin: 0 20px;
}

.menu ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 0px;
    transition: all 0.3s ease;
}

.menu ul li a:hover {
    background-color: #7c8385;
    color: #f7f3f7;
    border-radius: 4px;
    font-size: 18px;
}

/* Responsividade do menu */
@media (max-width: 600px) {
    .menu ul {
        flex-direction: column;
    }
}

/* Banner */
.banner {
    text-align: center;
    font-family: font2;
    width: 90%;
    height: 200px;
    background-image: url("../imgs/bac-banner.jpg");
    background-size: cover;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Texto do banner */
.pbanner {
    font-size: 55px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 10px 15px 1px rgba(0, 0, 0, 0.523);
    /* Sombra do texto */
    margin: 0;
}

/* Conteúdo */
.conteudo {
    background-color: #424242;
    padding: 1%;
    width: 90%;
    padding-bottom: 5%;
    margin-top: 3%;
    font-family: font1;
}

/* Listas */
ul {
    font-family: font1;
    color: #f7f3f7;
}


/* Títulos principais */
h1,
h2,
h3,
h4 {
    text-align: center;
    font-family: font1;
    color: white;
    font-size: 30px;
}

/* Parágrafos */
p {
    text-indent: 15px;
    text-align: justify;
    line-height: 1.5;

    color: white;
    font-size: 15px;
    padding: 10px 30px;
}

/* Parágrafos centralizados */
.pcenter {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
    clear: both;
}

/* Rodapé */
.rodape {
    background-color: rgb(162, 162, 163);
    text-align: center;
    width: 93%;
    margin-top: 15px;
    height:20%;
}

/* noticias */
/* noticia 1 */
.noticia {
    display: flex;
    margin-top: 2%;
}

.imgnot .img1 {
    width: 150%;
    margin-left: 2%;
}


.texto {
    width: 70%;
    margin: 2%;
}

/* GALERIA */

.linha1,
.linha2,
.linha3 {
    height: 30%;
    width: 95%;
    padding: 3%;
    display: flex;
}

.caixa {
    width: 30%;
    background-color: #929292;
}

.caixa img {
    padding: 8%;
    border-radius: 8px;
}

/* TABELAS */

table {
    width: 80%;
    text-align: center;    
    margin-left: 10%;  
    box-shadow: 5px 2px  #cecece69;
}

/* pode-se colocar atura e altura para a tabela e para cada celula */

#tbl,
th,
td {
    border: 2px solid rgb(255, 255, 255);
    border-collapse: separate;
    color: #e0fdff;
    padding: 1%;
    text-align: center;
}

td{
     border-spacing: 20px;
}

#cabecalho{
    background-color: #929292;
    color: #000;
}


/* FORMULARIO */

.form{
    width: 100%;
    height: 100%;
}

